.form__body {
	display:none;
	background: #fff;
	border-radius: 5px;
	padding: 20px;
	position: relative;
} 

.form__label {
	font-size:1.2rem;
}

.form__close {
	width:10px;
	height: 10px;
	position: absolute;
	right: 7px;
	top: 2px;
	font-size: 1.1rem;
    cursor: pointer;
}